---
permalink: "/{{ page.date | date: '%Y/%m/%d' }}/{{ title | slug }}/index.html"
layout: main-wrapper
---

<nav>
  <h1>You're looking at a post on blog.dermah.com</h1>
  <a href="/" >< Back To The Index</a>
</nav>

<hr />
<article>
  <h2>{{title}}</h2>
  {{content}}
</article>
<hr />