/* Two equal column layout that collapses on mobile */

.columns {
  width: 100%;
  max-width: unset;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.half-column {
  width: 50%;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;

  padding: 0 0.5em;
  min-width: 80ch;
}

@media (max-width: 80ch) {
  .half-column {
    min-width: 100%;
  }
}
