*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;

  margin-top: 0;
}

h1,
h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
  color: #333333;
}

dt,
dd {
  display: inline;
}

dt {
  font-weight: bold;
}

dd {
  margin-inline-start: 1ch;
}

/* --------------------------- */
/* General code block styling! */

code {
  background-color: #2b2b2b;
  color: #f8f8f2;
  padding: 0.15em 0.25em;
  border-radius: 0.3em;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  /* Code fonts look a bit bigger than regular text? */
  font-size: 90%;
  /* Make the background look nice during line breaks */
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

/* Style terminal output slightly differently */
pre.language-shell-session.terminal-box {
  background: #171717;
}

/* ---------------- */
/* Article styling! */

article > *,
/* Overriding the same selector in the prisim theme */
article > pre[class*="language-"] {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

article img {
  width: 100%;
}

article h3,
article h4,
article h5,
article h6 {
  margin-top: 4rem;
}
