*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.2;
  margin-top: 0;
}

article {
  line-height: 1.6;
}

dt,
dd {
  display: inline;
}

dt {
  font-weight: bold;
}

dd {
  margin-inline-start: 1ch;
}

/* --------------------------- */
/* General code block styling! */

code {
  background-color: #2b2b2b;
  color: #f8f8f2;
  padding: 0.15em 0.25em;
  border-radius: 0.3em;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  /* Code fonts look a bit bigger than regular text? */
  font-size: 90%;
  /* Make the background look nice during line breaks */
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

/* Style terminal output slightly differently */
pre.language-shell-session.terminal-box {
  background: #171717;
}

/* ---------------- */
/* Article styling! */

article > *,
/* Overriding the same selector in the prisim theme */
article > pre[class*="language-"] {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

article img {
  width: 100%;
}
