*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "museo-sans-condensed", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1.7;
  margin: 0;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;

  margin-top: 0;
}

h1,
h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
  color: #333333;
}

dt,
dd {
  display: inline;
}

dt {
  font-weight: bold;
}

dd {
  margin-inline-start: 1ch;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
}
ul li {
  margin-left: 1rem;
}

a {
  color: #0000aa;
}

a:hover {
  color: #0000ff;
}

/* Header and Footer */
header,
footer {
  background-color: #000000;
  color: #ffffff;
  padding: 1em;
  margin-left: 15px;
  margin-right: 15px;
}
header {
  height: 50vh;
  margin-bottom: 4rem;

  position: relative;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  min-height: 6rem;

  background-size: cover;
}
footer {
  margin-top: 6rem;
  position: relative;
}
header a,
footer a {
  color: #dddddd;
}
header h1,
footer h2 {
  text-transform: uppercase;
}

header small {
  display: block;
  font-size: calc(3vw);
  margin-bottom: 0.5rem;
}
header > h1 {
  text-align: center;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: calc(12vw - 6px);
  font-weight: 900;
  margin: 0;
  line-height: 0.55em;
}

footer {
  padding-top: calc(13vw - 14px);
}
footer > h2 {
  text-align: center;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: calc(13vw - 14px);
  font-weight: 900;
  margin: 0;
  line-height: 0.65em;
}

ul {
  padding-left: 0;
}

/* Blog status */
.blog-status {
  margin: 2rem 0.5rem;
  padding: 1em;
}
.blog-status h2 {
  /* (actually h3 size) */
  font-size: 1.5rem;
}

/* Navigation */
nav {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* --------------------------- */
/* General code block styling! */

code {
  background-color: #2b2b2b;
  color: #f8f8f2;
  padding: 0.15em 0.25em;
  border-radius: 0.3em;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  /* Code fonts look a bit bigger than regular text? */
  font-size: 80%;
  /* Make the background look nice during line breaks */
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

  word-break: break-word;
}

pre {
  font-size: 80%;
}

/* Style terminal output slightly differently */
pre.language-shell-session.terminal-box {
  background: #171717;
}

/* ---------------- */
/* Article styling! */

article > *,
/* Overriding the same selector in the prisim theme */
article > pre[class*="language-"] {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (max-width: 700px) {
  /* remove border radius on small screens, making 100% width look better */
  pre[class*="language-"] {
    border-radius: 0;
  }
}

article img {
  width: 100%;
}

article h3,
article h4,
article h5,
article h6 {
  margin-top: 6rem;
  margin-bottom: 3rem;
}

article > p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
