---
eleventyExcludeFromCollections: true
layout: main-wrapper
title: "blog.dermah.com | Index"
---

<h1>This is blog.dermah.com</h1>
<aside style="background-color: #eeeeff">
  <h2>Blog Status: <code>{{blogStatus}}</code></h2>
  <ul>
    <li><strong>HTML</strong>: Average semantics</li>
    <li><strong>Content</strong>: Almost non-existent</li>
    <li><strong>CSS</strong>: What is CSS</li>
    <li><strong>JS</strong>: Why bother at this point</li>
    <li><strong>Infrastructure</strong>: Not bad tbh</li>
  </ul>
</aside>

<hr />

{%- for post in collections.all -%}
<article>
  <h2><a href="{{post.url}}">Post: {{post.data.title}}</a></h2>
  {{post.data.excerpt | renderUsingMarkdown | safe}}
</article>
<hr />
{%- endfor -%}
