---
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-3885035-5"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-3885035-5");
    </script>
    <!-- End global site tag-->
    <title>blog.dermah.com</title>
  </head>
  <body>
    <h1>This is blog.dermah.com</h1>

    {%- for post in collections.all -%}
    <article>
      {{post.templateContent}}
    </article>
    {%- endfor -%}

    <!-- Default Statcounter code for blog.dermah.org  -->
    <script type="text/javascript">
      var sc_project = 12135697;
      var sc_invisible = 1;
      var sc_security = "d1a48557";
    </script>
    <script
      type="text/javascript"
      src="https://www.statcounter.com/counter/counter.js"
      async
    ></script>
    <noscript
      ><div class="statcounter">
        <a title="Web Analytics" href="https://statcounter.com/" target="_blank"
          ><img
            class="statcounter"
            src="https://c.statcounter.com/12135697/0/d1a48557/1/"
            alt="Web Analytics"
        /></a></div
    ></noscript>
    <!-- End of Statcounter Code -->
  </body>
</html>
